#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

legend {
  font-size: x-large;
}

body {
  background-color: #222;
}

select {
  padding: 5px;
  cursor: pointer;
  background-color: solid #222;
}

select:hover {
  border-color: lightblue;
}

.inputContainer {
  text-align: left;
  margin-bottom: 12px;
  margin-top: 10px;
}

.inputContainer label {
  text-transform: capitalize;
}

#virhe {
  text-transform: none;
  color: rgb(216, 74, 74);
}

.inputContainer label > input {
  width: 250px;
  padding: 5px;
  border: 1px solid #888;
  background-color: #222;
  color: white;
}

.inputContainer label > input:hover {
  border-color: lightblue;
}

.esikatselu {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #2e2e2e;
  text-align: left;
  margin-left: 50px;
}

.indent {
  white-space: pre;
}

.lomakeJaEsikatselu {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.appContainer {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 80vw;
  margin-bottom: 5vh;
}

.kopioi {
  margin-left: 40px;
  background-color: #2e2e2e;
  margin-top: 20px;
  margin-right: 40px;
}

.kopioi img {
  display: block;
  text-align: center;
}

.esikatseluContainer {
  display: flex;
  flex-direction: column;
  background-color: #1A1A1A;
  border-radius: 30px;
  width: 30vw;
  overflow-y: scroll;
  height: 600px;
}

.tallennetutViitteet {
  height: 500px;  
  overflow-y: scroll;
  background-color: #1A1A1A;
  border-radius: 30px;

}

.tallennetutContainer {
  display: flex;
  flex-direction: row; 
  margin-right: 19.5vw;
  gap: 6vw;


}

.suodatusKentat {
  background-color: #1A1A1A;
  border-radius: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.suodatusKentat label {
  padding-bottom: 10px;
}

.suodatusKentat input {
  margin-left: 8px;
} 
#devnapit {
  
}

.lomake {
  background-color: #1A1A1A;
  padding: 20px;
  border-radius: 30px;
}


