#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

legend {
  font-size: x-large;
}

body {
  background-color: #222;
}

select {
  padding: 5px;
  cursor: pointer;
  background-color: solid #222;
}

select:hover {
  border-color: lightblue;
}

.inputContainer {
  text-align: left;
  margin-bottom: 12px;
}

.inputContainer label {
  text-transform: capitalize;
}

.inputContainer label > input {
  width: 250px;
  padding: 5px;
  border: 1px solid #888;
  background-color: #222;
  color: white;
}

.inputContainer label > input:hover {
  border-color: lightblue;
}

.esikatselu {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #2e2e2e;
  text-align: left;
  margin-left: 50px;
}

.indent {
  white-space: pre;
}

.appContainer {
  display: flex;
}

.kopioi img {
  display: block;
  height: 20px;  
  width: 20px;
}